<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  executionOrder="depends,defects"
  beStrictAboutOutputDuringTests="true"
  failOnRisky="true"
  failOnWarning="true"
  cacheDirectory=".phpunit.cache"
  requireCoverageMetadata="false"
  beStrictAboutCoverageMetadata="false">
  <testsuites>
    <testsuite name="default">
      <directory>test</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <coverage
    includeUncoveredFiles="true"
    pathCoverage="false"
    ignoreDeprecatedCodeUnits="false"
    disableCodeCoverageIgnore="true">
    <report>
      <html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>
</phpunit>
